<div class="panel">
  <div class="form-inline">
    <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="Input"[(ngModel)]="title" placeholder = "Task" >
        </mat-form-field>
    </div>
    <div class="form-group">
      <div class="col-md-6">
        Дата создания    <input type="date" class="form-control" [(ngModel)]="createdate" placeholder="Create Date" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-6">
        Дата сдачи    <input type="date" class="form-control" [(ngModel)]="deadlinedate" placeholder="Deadline" />
      </div>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="Input"[(ngModel)]="status" placeholder = "Status" >
      </mat-form-field>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-8">
        <button mat-raised-button color="primary" class="add-button" (click)="addItem(title, createdate, deadlinedate, status)">Add</button>
      </div>
    </div>

  </div>

  <div *ngFor="let item of items; let i=index" class="task-list">
    <mat-card class="task-item">
      <button color="warn" mat-icon-button (click)="deleteItem(i)">
        <mat-icon>X</mat-icon>
      </button>
      <span class="task">Task:  {{item.title}}</span>
      <span class="task">Create Data:  {{item.createdate}}</span>
      <span class="task">Deadline:  {{item.deadlinedate}}</span>
      <span class="task">Status:  {{item.status}}</span>
    </mat-card>
  </div>
</div>
